body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-tabs{
  display: flex;
  justify-content: space-around;
}

.nav-item{
  font-size: 12px;

}

.BH{
  font-family: "poster-gothic-round-atf", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 25px;
}